[project]
	description = prozilla download manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kaushik Koneru (konerukaushik)
[access "refs/for/refs/*"]
	read = group user/Kaushik Koneru (konerukaushik)
	push = group user/Kaushik Koneru (konerukaushik)
	label-Code-Review = -2..+2 group user/Kaushik Koneru (konerukaushik)
	label-Verified = -1..+1 group user/Kaushik Koneru (konerukaushik)
	rebase = group user/Kaushik Koneru (konerukaushik)
	removeReviewer = group user/Kaushik Koneru (konerukaushik)
	submit = group user/Kaushik Koneru (konerukaushik)
[access "refs/heads/*"]
	read = group user/Kaushik Koneru (konerukaushik)
	create = group user/Kaushik Koneru (konerukaushik)
	push = +force group user/Kaushik Koneru (konerukaushik)
	pushMerge = group user/Kaushik Koneru (konerukaushik)
[access "refs/tags/*"]
	push = +force group user/Kaushik Koneru (konerukaushik)
	pushTag = group user/Kaushik Koneru (konerukaushik)
	pushSignedTag = group user/Kaushik Koneru (konerukaushik)
